.product-container{
    border: 1px solid rgb(212, 206, 206);
    background-color: white;
    border-radius: 10px;
}

.product-btn{
    background-color: #ff5400;
    border: none;
    color: white;
    padding: 6px 24px;
    border-radius: 3px;
    font-weight: 500;
    width: 100%;
}

.product-btn:hover{
    background-color: rgb(58, 53, 53);
    transition: 0.5s;
}