.makes-title {
    color: black;
    font-size: 40px;
    text-transform: capitalize;
    border-bottom: 2px solid #ff5400;
    width: 300px;
    text-align: center;
    margin: auto;
    /* font-weight: 500; */
    margin-bottom: 40px;
    
}

.logo-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.logo{
    border: 1px solid #D4D4D4;
    padding: 24px 12px;
    border-radius: 5px;
}

.logo:hover{
    border: 1px solid #ff5400;
    cursor: pointer;
    transition: 0.3s;
}


/* make products responsive */

@media only screen and (max-width: 576px)  {
    .logo-container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}